/*styling for profile image*/
.avatar {
    vertical-align: middle;
    width: 10%;
    height: 10%;
    border-radius: 60%;
}

/*Styling for website name's background and text size*/
header h{
    background-color:aliceblue;
    background-size: cover;
}

/*Styling for the logo of website*/
.logo {
    vertical-align: middle;
    width: 10%;
    height: 10%;
    border-radius: 50%
}

/*Styling for all header section*/
header {
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
}

/*Styling for the navigation bar*/
nav{
    font-size: 100%;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px 20px;
    font-size: 17px;
    
}

/*Styling for a tag in navigation tab*/
nav a{
    font-family: 'Itim', cursive;
    
}

/*Styling for body tab of all pages*/
body {
    margin: 0;
    font-family: 'Itim', cursive;
    background-image: url('https://i.pinimg.com/564x/1a/e1/34/1ae13417560fb24626b281da10bef6e5.jpg');
}

/*Styling for the class container in index.html page*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* Styling for image class for index.html and healthcare and hygiene.html*/
.image{
    display: flex;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-right: 20px;
}

/*Styling for contents p tag in index.html and healthcare and hygiene.html*/
.intro{
    display: block;
    max-width: 500px;
    padding: 0 20px;
    text-align: left;
}

/*Styling for contents div tag in index.html and healthcare and hygiene.html*/
.intro-container {
    display: block;
    text-align: left;
    background-color: lightpink;
}

/*Styling for index.html for h1 tag in intro class*/
.intro h1{
    font-size: 24px;
    margin-bottom: 10px;
}

/*Styling for breed container in info on rabbits.html page*/
.breedcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    background-color: beige;
}

/*Styling for all breed images*/
.breed {
    width: 70%;
    height: 70%;
}

/*Styling for testimonies sections*/
.testimonies {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

/*Styling for testimonies images*/
.testimonies img{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

/*Background colours for some contents*/
.bg-colour{
    background-color:pink;
    opacity: 0.7;
}

/*Login styling for better visuality*/
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 50%;  
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;  
    padding: 30px 40px;
}

/*Styling for login heading*/
#login h1{
    font-size: 30px;
    text-align: center;
}

/*Styling for all inputs classes*/
#login .input{
    width: 100%;
    height: 50px;
    padding-bottom: 15px;
}

/*Styling for all login input for username and password*/
.input input{
    width: 100%;
    height: 100%;
    background: transarent;
    border: 2px solid rgba(225, 225, 225, .2);
    font-size: 15px;
    padding: 2px 2px 2px 12px;
}

/*Styling for remember section that styles the remember me checkbox*/
#login .remember {
    display:flex;
    justify-content: space-between;
    gap: 3.5rem;
    font-size: 16px;
    margin: -15px 0 15px;
    padding-top: 20px;
}

/*Styling for the login button*/
#login button{
    width: 100%;
    height: 35px;
    background: paleturquoise;
    border: none;
    outline: none;
    font-size: 16px;
}

/*Styling for register line where in use when user is new*/
#login .register{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/*Styling for footer 'contact us' section*/
footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgb(96, 96, 184);
    color: aliceblue;
}

/*Styling for footer details*/
footer .contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

/*Styling for the calling action*/
footer r{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}

/*Media query for screens with a maximum width of 756px */
@media screen and (max-width: 765px){
    .container {
        flex-direction: column;
        text-align: center;
        text-align: center;
    }
    .intro-container {
        flex-direction: column;
        max-width: 100%;
        padding: 0;
    }
    footer .contacts {
        flex-direction: column;
    }
}

/*Media query for screens with a maximum width of 786px*/
@media screen and (min-width: 786px) {
    .breed {
        width: 70%
    }
    .testimonies img{
        flex-direction: column;
        max-width: 30%;
        height: auto;
        padding: 2px;
    }
}

/*Medi query for screens with aa minimum width of 1200px*/
@media screen and (min-width: 1200px) {
    .breed {
        width: 70%
    }
}



